@use "globals";

$colorText: #008268;
$mainColorText : #022044;

.container {
	.tilte {
		margin-bottom: 25px;
		h3 {
			font-size: 25px;
			font-weight: 600;
			color: $colorText;
		}
	}
	.row {
		.text-about {
			margin-bottom: 80px;
			p:nth-child(1) {
				font-weight: 500;
				margin-bottom: 15px;
			}
		}
		.card-about {
			margin-bottom: 80px;
			.card {
				background-image: linear-gradient(rgb(239, 239, 239), rgb(252, 252, 252));
				padding: 23px;
				height: 100%;
				:hover {
					box-shadow: none;
					transform: none;
				}
				.icon {
					margin-bottom: 25px;
					font-size: 30px;
					background-color: hsla(136, 58%, 53%, 0.639);
					color: #fff;
					padding: 10px;
					border-radius: 50%;
					display: inline-block;
					line-height: 0;
				}
				.items-text {
					.tilte-card {
						margin-bottom: 13px;
						h3 {
							font-size: 18px;
							color: #000;
							font-weight: 600;
						}
					}
				}
			}
		}
	}
} 

@mixin responsive($breakpoint) {
	@if $breakpoint==mobile {
		@media screen and (max-width: 768px) {
			@content;
		}
	}
	@else if $breakpoint==tablet {
		@media screen and (min-width: 769px) and(max-width: 979px) {
			@content;
		}
	}
	@else if $breakpoint==notebook {
		@media screen and (min-width: 980px) and (max-width: 1024px) {
			@content;
		}
	}
	@else if $breakpoint==leptop {
		@media screen and (min-width: 1025px) and (max-width: 1280px) {
			@content;
		}
	}
}

@include responsive(mobile)  {
	.container {
		.tilte {
			margin-bottom: 15px;
			h3 {
				font-size: 23px;
			}
		}
		.card-services {
			margin-bottom: 30px;
			.text-about {
				margin-bottom: 60px;
				p  {
					font-size: 15px;
					margin-bottom: 10px;
				}
			}
			.card-about {
				margin-bottom: 20px;
				.card {
					padding: 20px;
					.icon {
						margin-bottom: 20px;
						font-size: 25px;
						padding: 10px;
					}
					.items-text {
						.tilte-card {
							margin-bottom: 13px;
							h3 {
								font-size: 17px;
							}
						}
						.desc {
							p {
								font-size: 15px;
							}
						}
					}
				}
			}
		}
	} 
}