@use "globals";

$colorText: #008268;

.sect-banner {
	// margin-bottom: 40px;
	.container {
		.img-banner {
			img {
				height: 75vh !important;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top;
				z-index: 99;
			}
		}
	}
}

.sect-2-contact {
	.container {
		hr {
			margin: 60px 0;
		}
		.item-text {
			h3 {
				font-size: 22px;
				font-weight: 600;
				color: $colorText;
			}
			p {
				margin-bottom: 20px; 
			}
		}
		.items-whatsapp {
			a {
				.icon {
					font-size: 40px;
					margin-bottom: 20px;
					line-height: 0;

					animation: shakeY 2s ease infinite;
					@keyframes shakeY {
						0% { transform: translateY(0) }
						25% { transform: translateY(5px) }
						50% { transform: translateY(-5px) }
						75% { transform: translateY(5px) }
						100% { transform: translateY(0) }
					}
				}
				span {
					font-weight: 600;
					font-size: 17px;
					color: $colorText;
				}
			}
		}
		.items-location {
			margin-bottom: 80px;
			h3 {
				font-size: 22px;
				font-weight: 600;
				color: $colorText;
			}
			a {
				:hover {
					text-decoration: underline !important;
				}
				.icon {
					color: $colorText;
					font-size: 40px;
					margin-bottom: 20px;
					line-height: 0;
					animation: shakeY 2s ease infinite;
					@keyframes shakeY {
						0% { transform: translateY(0) }
						25% { transform: translateY(5px) }
						50% { transform: translateY(-5px) }
						75% { transform: translateY(5px) }
						100% { transform: translateY(0) }
					}
				}
			}
		}
	}
}

@mixin responsive($breakpoint) {
	@if $breakpoint==mobile {
		@media screen and (max-width: 767px) {
			@content;
		}
	}
	@else if $breakpoint==tablet {
		@media screen and (min-width: 768px) and(max-width: 979px) {
			@content;
		}
	}
	@else if $breakpoint==notebook {
		@media screen and (min-width: 980px) and (max-width: 1024px) {
			@content;
		}
	}
	@else if $breakpoint==leptop {
		@media screen and (min-width: 1025px) and (max-width: 1280px) {
			@content;
		}
	}
}

@include responsive(mobile) {
	.sect-2-contact {
		.container {
			hr {
				margin: 30px 0;
			}
			.item-text {
				h3 {
					font-size: 18px;
				}
				p {
					font-size: 15px;
					margin-bottom: 20px; 
				}
			}
			.items-whatsapp {
				a {
					.icon {
						font-size: 25px;
						margin-bottom: 10px;
					}
					span {
						font-size: 15px;
					}
					p {
						font-size: 14px;
					}
				}
			}
			.items-location {
				margin-bottom: 80px;
				h3 {
					font-size: 18px;
				}
				a {
					p {
						font-size: 14px;
					}
					.icon {
						font-size: 25px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

@include responsive(tablet) {
	.sect-2-contact {
		.container {
			hr {
				margin: 30px 0;
			}
			.item-text {
				h3 {
					font-size: 20px;
				}
			}
			.items-whatsapp {
				a {
					.icon {
						font-size: 29px;
						margin-bottom: 10px;
					}
					span {
						font-size: 16px;
					}
					p {
						font-size: 15px;
					}
				}
			}
			.items-location {
				margin-bottom: 80px;
				h3 {
					font-size: 20px;
				}
				a {
					p {
						font-size: 15px;
					}
					.icon {
						font-size: 29px;
					}
				}
			}
		}
	}
}