@import "globals";

$colorText: #008268;

.footer {
	.bg-gradient {
		background: linear-gradient(276deg, rgba(44,161,75,0) 0%, rgba(44,161,75,0.33657212885154064) 41%, rgba(44,161,75,0.8407738095238095) 63%, rgba(44,161,75,1) 85%) !important;
		margin-bottom: 70px;
		.row {
			.text-info {
				color: #fff !important;
				.title {
					h3 {
						font-size: 30px;
						font-weight: 400;
						color: #fff;
						span {
							font-weight: 600 !important;
							display: block;
							letter-spacing: 1.5px;
						}
					}
					p {
						padding-right: 70px;
					}
				}
				.icon-sosmed {
					span {
						line-height: 0;
						padding-right: 5px;
						font-size: 35px;
					}
					p {
					letter-spacing: 2px;
					font-size: 14px;
					font-weight: 600;
						a {
							letter-spacing: 0 !important;
							font-size: 14px;
							font-weight: 700;
						}
					}
				}
			}
			.img-gradient {
				img {
					height: 375px;
					object-fit: cover;
				}
			}
		}
	}	

	.sect-our-customers {
		.container {
			border: 2px solid #eee;
			border-left: 0;
			border-right: 0;
			border-bottom: 0;
			width: 90%;
			.title {
				padding-top: 20px;
				h3 {
					color: $colorText;
					font-size: 20px;
					font-weight: 700;	
					margin-bottom: 0;
				}
				
			}
			.mySwiper {
				padding: 20px;
				.swiper-wrapper {
					align-items: center;
					margin-bottom: 35px;
					.swiper-slide {
						display: flex;
						justify-content: center;
						align-items: center;
						img {
							display: block;
							width: 90px !important;
							height: auto;
							object-fit: cover;
						}
					}
				}
				.swiper-pagination {
					padding: 20px 0;
				}
			}
		}
	}

	.foot-top {
		.items-text {
			height: 220px;
			h3 {
				font-size: 17px;
				font-weight: 700;
				letter-spacing: 1px;
				color: $colorText;
				margin-bottom: 15px;
			}
			.item-menu {
				.nav-link {
					padding: 4px 0;
					font-size: 15px;
					color: #5e5e5e;
					font-weight: 500;
					font-family: $fontRoboto;
					span {
						margin-right: 10px;
						line-height: 0;
						font-size: 19px;
						color: #333;
						p {
							font-size: 15px;
							color: #5e5e5e;
							margin-left: 10px;
						}
					}
				}
			}
		}
	}

	.foot-bottom {
		.container {
			hr {
				margin: 0 ;
			}
			.row {
				padding: 15px 0;
				.items-foot {
					.nav-link {
						img {
							margin-right: 10px;
							height: 30px;
							width: 30px;
						}
						font-size: 16px;
						font-weight: 700;
					}
					p {
						font-size: 15px;
					}
				}
			}
			.text-by-web  {
				padding: 20px 0;
			}
		}
	}
}

@mixin responsive($breakpoint) {
	@if $breakpoint==mobile {
		@media screen and (max-width: 767px) {
			@content;
		}
	}
	@else if $breakpoint==tablet {
		@media screen and (min-width: 768px) and(max-width: 979px) {
			@content;
		}
	}
	@else if $breakpoint==notebook {
		@media screen and (min-width: 980px) and (max-width: 1024px) {
			@content;
		}
	}
	@else if $breakpoint==leptop {
		@media screen and (min-width: 1025px) and (max-width: 1280px) {
			@content;
		}
	}
}

@include responsive(mobile) {
	.footer {
		.bg-gradient {
		background: linear-gradient(360deg, rgba(44, 161, 75, 0) 0%, rgba(44, 161, 75, 0.3365721289) 41%, rgba(44, 161, 75, 0.8407738095) 63%, rgb(44, 161, 75) 85%) !important;
			margin-bottom: 50px;
			.row {
				.info-sosmed {
					padding:  50px 0 0 20px !important;
					.text-info {
						.title {
							h3 {
								font-size: 25px;
								margin-bottom: 15px;
								color: #fff;
								span {
									font-weight: 600 !important;
									letter-spacing: 1px;
								}
							}
							p {
								padding-right: 50px;
								font-size: 15px;
							}
						}
						.icon-sosmed {
							span {
								line-height: 0;
								padding-right: 3px;
								font-size: 32px;
							}
							p {
								letter-spacing: 1.8px;
								font-size: 12px;
								line-height: 1.1 !important;
								a {
									letter-spacing: .9px !important;
									font-size: 12px;
									font-weight: 600;
								}
							}
						}
					}
				}
				.img-gradient {
					img {
						height: 320px !important;
					}
				}
			}
		}	

		.sect-our-customers {
			.container {
				border: 2px solid #eee;
				border-left: 0;
				border-right: 0;
				width: 91%;
				.title {
					padding-top: 20px;
					h3 {
						font-size: 20px;
					}
					
				}
				.mySwiper {
					padding: 20px;
					.swiper-wrapper {
						align-items: center;
						margin-bottom: 35px;
						.swiper-slide {
							display: flex;
							justify-content: center;
							align-items: center;
							img {
								display: block;
								width: 90px !important;
								height: auto;
								object-fit: cover;
							}
						}
					}
					.swiper-pagination {
						padding: 20px 0;
					}
				}
			}
		}
		
		.foot-top {
			margin-top: 20px;
			.items-text {
				height: auto;
				border-right: 0 !important;
				border-top: 0 !important;
				width: 95%;
				margin: 0 auto;
				padding: 20px 7px !important;
				h3 {
					font-size: 15px;
					letter-spacing: .7px;
					margin-bottom: 10px;
				}
				.item-menu {
					margin-bottom: 0;
					.nav-link {
						padding: 0 0 2px;
						font-family: $fontRoboto;
						font-size: 14px;
						font-weight: 500;
						span {
							margin-right: 5px;
							font-size: 16px;
							p {
								font-size: 14px;
								margin-left: 5px;
							}
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}

		.foot-bottom {
			.container {
				hr {
					margin: 0 ;
				}
				.row {
					padding: 15px 0;
					.col {
						padding: 	0;
					} 
					.items-foot {
						.nav-link {
							img {
								display: none;
								margin-right: 10px;
								height: 20px;
								width: 20px;
							}
							font-size: 15px;
							font-weight: 700;
						}
						p {
							font-size: 13px;
						}
					}
					p {
						font-size: 13px;
					}
				}
				.text-by-web  {
					padding: 15px 0;
					font-size: 13px;
					font-weight: 600;
					color: #636363;
				}
			}
		}
	}
}

@include responsive(tablet) {
		.footer {
		.bg-gradient {
		background: linear-gradient(360deg, rgba(44, 161, 75, 0) 0%, rgba(44, 161, 75, 0.3365721289) 41%, rgba(44, 161, 75, 0.8407738095) 63%, rgb(44, 161, 75) 85%) !important;
			margin-bottom: 50px;
			.row {
				.info-sosmed {
					padding:  100px 0 0 50px !important;
					.text-info {
						.title {
							h3 {
								font-size: 30px;
								margin-bottom: 15px;
								color: #fff;
							}
						}
						.icon-sosmed {
							p {
								a {
									letter-spacing: .9px !important;
									font-size: 12px;
									font-weight: 600;
								}
							}
						}
					}
				}
				.img-gradient {
					img {
						height: 360px !important;
					}
				}
			}
		}	

		.sect-our-customers {
			.container {
				border: 2px solid #eee;
				border-left: 0;
				border-right: 0;
				width: 91%;
				.title {
					padding-top: 20px;
					h3 {
						font-size: 20px;
						
					}
				}
					.icon-sosmed {
							span {
								line-height: 0;
								padding-right: 3px;
								font-size: 32px;
							}
							p {
								letter-spacing: 1.8px;
								font-size: 12px;
								line-height: 1.1 !important;
								a {
									letter-spacing: .9px !important;
									font-size: 12px;
									font-weight: 600;
								}
							}
						}
			}
		}
		
		.foot-top {
			margin-top: 20px;
			.items-text {
				height: auto;
				border-right: 0 !important;
				border-top: 0 !important;
				border: 0 !important;

				width: 95%;
				margin: 0 auto;
				padding: 20px 7px !important;
				h3 {
					font-size: 15px;
					letter-spacing: .7px;
					margin-bottom: 10px;
				}
				.item-menu {
					margin-bottom: 0;
					.nav-link {
						padding: 0 0 2px;
						font-family: $fontRoboto;
						font-size: 14px;
						font-weight: 500;
						span {
							margin-right: 5px;
							font-size: 16px;
							p {
								font-size: 14px;
								margin-left: 5px;
							}
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}

		.foot-bottom {
			.container {
				
				hr {
					margin: 0;
					border: 0;
				}
				.row {
					padding: 15px 0;
					border: 1px solid #eee;
					border-right: 0;
					border-left: 0;
					.col {
						padding: 	0;
					} 
					.items-foot {
						.nav-link {
							img {
								display: none;
								margin-right: 10px;
								height: 20px;
								width: 20px;
							}
							font-size: 15px;
							font-weight: 700;
						}
						p {
							font-size: 13px;
						}
					}
					p {
						font-size: 13px;
					}
				}
				.text-by-web  {
					padding: 15px 0;
					font-size: 14px;
				}
			}
		}
	}

}


