@use "globals";

$colorText: #008268;

.filter-product {
	padding: 0 0 50px;
	.container {
		.row {
			border: 1px solid #d1d1d1;
			border-left: 0;
			border-right: 0;
			margin: 0 20px ;
			align-items: center;
			.filter-by {
				padding: 7px 0;
				column-gap: 15px;
				h3 {
					font-size: 16px;
					color: $colorText;
					font-weight: 600;
					margin-bottom: 0;
				}
				select {
					padding: 2px 7px;
					border-radius: 5px;
					font-size: 17px;
				}
			}
			.btn-search {
				border: 1px solid #d1d1d1;
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				width: 100%;
				border: 1px solid #d1d1d1;
				input {
					background: transparent;
					width: 100%;
					padding-left: 10px;
					border: 1px solid #d1d1d1;
					outline: none;
					&:focus {
						border: .5px solid #008268;
					}
				}
				span {
					background-color: #008268;
					color: #fff;
					padding: 3px 4px;
					font-size: 22px;
					line-height: 0;
				}
			}
		}
	}
}

@mixin responsive($breakpoint) {
	@if $breakpoint==mobile {
		@media screen and (max-width: 767px) {
			@content;
		}
	}
	@else if $breakpoint==tablet {
		@media screen and (min-width: 768px) and(max-width: 979px) {
			@content;
		}
	}
	@else if $breakpoint==notebook {
		@media screen and (min-width: 980px) and (max-width: 1024px) {
			@content;
		}
	}
	@else if $breakpoint==leptop {
		@media screen and (min-width: 1025px) and (max-width: 1280px) {
			@content;
		}
	}
}

@include responsive(mobile) {
	.filter-product {
		padding: 0 0 50px;
		.container {
			.row {
				border-left: 0;
				border-right: 0;
				margin: 0 ;
				display: flex;
				justify-content: unset;
				align-items: center;
				.filter-by {
					padding: 5px 0;
					column-gap: 7px;
					h3 {
						font-size: 13px;
						span {
							display: none;
						}
					}
					select {
						padding: 2px 5px;
						font-size: 13.5px;
					}
				}
				.btn-search {
					border: 0;
					display: flex;
					margin: 10px 0;
					justify-content: end;
					input {
						background: transparent;
						width: 100%;
						padding-left: 10px;
						::visibility {
							font-size: 10px;
						}
					}
					span {
						padding: 3px 4px;
						font-size: 22px;
					}
				}
			}
		}
	}
}

@include responsive(tablet) {
	.filter-product {
		.container {
			.row {
				.filter-by {
					select {
						padding: 2px 10px;
					}
				}
			}
		}
	}
}



